<section class="container about-us-block">
	<div class="about-us-number">
		<p class="block-number">02</p>
	</div>
	<h2 class="about-us-title">ABOUT US</h2>
	<p class="about-us-text">Garden Mania Story is a captivating match-3 puzzle game where players solve puzzles and grow
		their own virtual gardens. The game offers hundreds of fun and challenging levels, with seasonal updates and
		special events to keep the game fresh. Suitable for players of all ages, Garden Mania Story combines
		puzzle-solving with a charming gardening experience.
	</p>
	<div>
		<iframe width="288" height="162" src="https://www.youtube.com/embed/ibbB_Pn5lrU" title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
	</div>

</section>