<section id="feature-keys" class=" container feature-keys-block">
	<p class="feature-numbers">01</p>
	<h2 class="feature-title">FEATURE KEYS</h2>
	<!-- <img class="feature-gallery" src="../img/feature-keys/Frame3-1x.png" alt="Match-3 Puzzle Fun">
	<p class="feature-text">Match-3 Puzzle Fun</p>
	<p class="brief-description">Solve puzzles by matching fruits, vegetables, and flowers.</p>
	<ul class="feature-list">
		<li class="list-items">1</li>
		<li class="list-items">2</li>
		<li class="list-items">3</li>
		<li class="list-items">4</li>
		<li class="list-items">5</li>
		<li class="list-items">6</li>
		<li class="list-items">7</li>
	</ul> -->
	<div class="slider-container">
		<div class="slider-wrapper">
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame1-Desktop-1x.png 1x, ../img/feature-keys/Frame1-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame1-1x.png 1x,
					../img/feature-keys/Frame1-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame1-1x.png" alt="Image 1" width="288" height="162"
						class="feature-gallery">
				</picture>
				<!-- <img class="feature-gallery" src="../img/feature-keys/Frame3-1x.png" alt="Image 1"> -->
				<p class="slide-text">Match-3 Puzzle Fun</p>
				<p class="brief-description">Solve puzzles by matching fruits, vegetables, and flowers.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame2-Desktop-1x.png 1x, ../img/feature-keys/Frame2-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame2-1x.png 1x,
					../img/feature-keys/Frame2-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame2-1x.png" alt="Image 2" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Farm and Harvest</p>
				<p class="brief-description">Cultivate your garden and harvest
					fresh crops.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame3-Desktop-1x.png 1x, ../img/feature-keys/Frame3-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame3-1x.png 1x,
					../img/feature-keys/Frame3-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame3-1x.png" alt="Image 3" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Charming Graphics</p>
				<p class="brief-description">Beautiful garden-themed visuals bring the game to life.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame4-Desktop-1x.png 1x, ../img/feature-keys/Frame4-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame4-1x.png 1x,
					../img/feature-keys/Frame4-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame4-1x.png" alt="Image 4" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Powerful Boosters</p>
				<p class="brief-description">Use boosters to clear tough levels and advance faster.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame5-Desktop-1x.png 1x, ../img/feature-keys/Frame5-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame5-1x.png 1x,
					../img/feature-keys/Frame5-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame5-1x.png" alt="Image 5" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Seasonal Events</p>
				<p class="brief-description">Join in on special seasonal events for exclusive rewards.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame6-Desktop-1x.png 1x, ../img/feature-keys/Frame6-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame6-1x.png 1x,
					../img/feature-keys/Frame6-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame6-1x.png" alt="Image 6" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Social Features</p>
				<p class="brief-description">Play with friends and share your gardening progress.</p>
			</div>
			<div class="slide">
				<picture>
					<source
						srcset="../img/feature-keys/Frame7-Desktop-1x.png 1x, ../img/feature-keys/Frame7-Desktop-2x.png 2x"
						media="(min-width: 1200px)" class="feature-gallery" />

					<source srcset="../img/feature-keys/Frame7-1x.png 1x,
					../img/feature-keys/Frame7-2x.png 2x" media="(min-width: 320px)" class="feature-gallery" />

					<img src="../img/feature-keys/Frame7-1x.png" alt="Image 7" width="288" height="162"
						class="feature-gallery">
				</picture>
				<p class="slide-text">Offline Play</p>
				<p class="brief-description">Play without needing an internet connection.</p>
			</div>
		</div>

		<!-- Навигационные кнопки -->
		<button class="slider-btn prev">←</button>
		<button class="slider-btn next">→</button>

		<!-- Миниатюры -->
		<div class="pagination-container">
			<span class="pagination-number" data-index="0">1</span>
			<span class="pagination-number" data-index="1">2</span>
			<span class="pagination-number" data-index="2">3</span>
			<span class="pagination-number" data-index="3">4</span>
			<span class="pagination-number" data-index="4">5</span>
			<span class="pagination-number" data-index="5">6</span>
			<span class="pagination-number" data-index="6">7</span>
		</div>
	</div>

</section>