<section class=" container feature-keys-block">
	<p class="feature-numbers">01</p>
	<h2 class="feature-title">FEATURE KEYS</h2>
	<img class="feature-gallery" src="../img/feature-keys/Frame3-1x.png" alt="Match-3 Puzzle Fun">
	<p class="feature-text">Match-3 Puzzle Fun</p>
	<p class="brief-description">Solve puzzles by matching fruits, vegetables, and flowers.</p>
	<ul class="feature-list">
		<li class="list-items">1</li>
		<li class="list-items">2</li>
		<li class="list-items">3</li>
		<li class="list-items">4</li>
		<li class="list-items">5</li>
		<li class="list-items">6</li>
		<li class="list-items">7</li>
	</ul>
</section>