<section class="footer" id="footer">
	<div class="footer-container container">
		<ul class="footer-menu-list">
			<li class="footer-menu-item">
				<a href="./privacy-policy.html" class="footer-nav-link mod-1">Privacy policy</a>
				<span class="symbol-span">|</span>
			</li>
			<li class="footer-menu-item"><a href="./terms-of-use.html" class="footer-nav-link mod-2">Terms and
					conditions</a>
			</li>
		</ul>
		<div class="footer-rights-box">
			<p class="footer-rights">©2024 LuckyWinPulse.com, All rights reserved.</p>
		</div>
	</div>
</section>

<!-- <span>|</span> -->