<section class="gallery-saction" id="gallery">
	<div class="container gallery-container">
		<p class="gallery-numbers">03</p>
		<h2 class="gallery-title">Gallery</h2>
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<div class="img-slider">
						<!-- <picture>
									<source media="(min-width:1200px)" srcset="
																	./img/projects/image2-comp.jpg,
																	./img/projects/image2-comp-2@.jpg 2x" />
									
									<source media="(max-width:1199px)" srcset="
																	./img/projects/image2.jpg,
																	./img/projects/image2-2@.jpg 2x" />
									<img src="./img/projects/image2.jpg" alt="realProject-image" class="project-img">
							  </picture> -->
						<img src="./img/gallery/1_1x.png" alt="Slide 1">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<img src="./img/gallery/2_1x.png" alt="Slide 2">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<img class="img-slide" src="./img/gallery/3_1x.png" alt="Slide 3">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<img src="./img/gallery/4_1x.png" alt="Slide 4">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<img src="./img/gallery/5_1x.png" alt="Slide 5">
					</div>
				</div>
			</div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>