<section class="gallery-section" id="gallery">
	<div class="container gallery-container">
		<div class="gallery-box">
			<p class="gallery-numbers">03</p>
			<h2 class="gallery-title">Gallery</h2>
		</div>
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<div class="img-slider">
						<picture>
							<source media="(min-width:1200px)" srcset="
															./img/gallery/1_1x.png,
															./img/gallery/1_2x.png 2x">

							<source media="(max-width:1199px)" srcset="
															./img/gallery/mob_1_1x.png,
															./img/gallery/mob_1_2x.png 2x">
							<img class="img-slide" src="./img/gallery/1_1x.png" alt="Slide 1">
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<picture>
							<source media="(min-width:1200px)" srcset="
									./img/gallery/2_1x.png,
									./img/gallery/2_2x.png 2x">

							<source media="(max-width:1199px)" srcset="
													./img/gallery/mob_2_1x.png,
													./img/gallery/mob_2_2x.png 2x">
							<img class="img-slide" src="./img/gallery/2_1x.png" alt="Slide 2">
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<picture>
							<source media="(min-width:1200px)" srcset="
														./img/gallery/3_1x.png,
														./img/gallery/3_2x.png 2x">

							<source media="(max-width:1199px)" srcset="
															./img/gallery/mob_3_1x.png,
															./img/gallery/mob_3_2x.png 2x">
							<img class="img-slide" src="./img/gallery/3_1x.png" alt="Slide 3">
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<picture>
							<source media="(min-width:1200px)" srcset="
															./img/gallery/4_1x.png,
															./img/gallery/4_2x.png 2x">

							<source media="(max-width:1199px)" srcset="
															./img/gallery/mob_4_1x.png,
															./img/gallery/mob_4_2x.png 2x">
							<img class="img-slide" src="./img/gallery/4_1x.png" alt="Slide 4">
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="img-slider">
						<picture>
							<source media="(min-width:1200px)" srcset="
													./img/gallery/5_1x.png,
													./img/gallery/5_2x.png 2x">

							<source media="(max-width:1199px)" srcset="
													./img/gallery/mob_5_1x.png,
													./img/gallery/mob_5_2x.png 2x">
							<img class="img-slide" src="./img/gallery/5_1x.png" alt="Slide 5">
						</picture>
						<!-- <img src="./img/gallery/5_1x.png" alt="Slide 5"> -->
					</div>
				</div>
			</div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>