<section class="container header-block">
	<a href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.gardenmaniastory&hl=en-US" target="_blank">
		<!-- <button class="google-play-size"> -->
		<svg class="google-play-size" width="24" height="24">
			<use href="../img/svg/symbol-defs.svg#icon-google-play"></use>
		</svg>
		<!-- </button> -->
	</a>
	<h1 class="main-title">Garden Mania</h1>
	<button class="icon-button" id="toggleBtn">
		<svg class="google-play-size burger-mod" width="16" height="24">
			<use href="../img/svg/symbol-defs.svg#icon-google-play"></use>
		</svg>
	</button>
	<div class="modal-overlay" id="toggleModal">
		<nav class="nav-modal">
			<button type="button" class="closeBtn" id="closeBtn">X</button>

			<ul class="nav-list">
				<li class="nav-item">
					<a href="#home" class="nav-link">Home</a>
				</li>

				<li class="nav-item">
					<a href="#feature-keys" class="nav-link">Feature Keys</a>
				</li>
				<li class="nav-item">
					<a href="#about-us" class="nav-link">About Us</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">Gallery</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">User Reviews</a>
				</li>
			</ul>
		</nav>
		<!-- <script src="../main.js" type="module"></script> -->
	</div>
</section>