<section class="container header-container">
	<div class="header-block">
		<a href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.gardenmaniastory&hl=en-US"
			target="_blank">
			<img class="google-play-size" width="24" height="24" src="./img/svg/header-google-play.svg"
				alt="Description of SVG image" />
		</a>
		<h1 class="main-title">Garden Mania</h1>
		<button class="icon-button" id="toggleBtn">
			<img class="google-play-size burger-mod" width="16" height="24" src="./img/svg/header-menu.svg"
				alt="Description of SVG image" />
		</button>
		<div class="modal-overlay" id="toggleModal">
			<nav class="nav-modal">
				<button type="button" class="closeBtn" id="closeBtn">
					<img class="" width="24" height="24" src="./img/svg/close-btn.svg" alt="Close button" />
				</button>

				<ul class="nav-list">
					<li class="nav-item">
						<a href="#home" class="nav-link" id="homeLink">Home</a>
					</li>

					<li class="nav-item">
						<a href="#feature-keys" class="nav-link" id="featureLink">Feature Keys</a>
					</li>
					<li class="nav-item">
						<a href="#about-us" class="nav-link" id="aboutLink">About Us</a>
					</li>
					<li class="nav-item">
						<a href="#gallery" class="nav-link" id="galleryLink">Gallery</a>
					</li>
					<li class="nav-item">
						<a href="#user-reviews" class="nav-link" id="userLink">User Reviews</a>
					</li>
				</ul>
			</nav>
			<!-- <script src="../main.js" type="module"></script> -->
		</div>
	</div>
</section>