<section id="home" class="container home-block">
	<div class="home-wrap">
		<div class="home-img-wrap">
			<picture class="samsung-phone">
				<source srcset="./img/home/SamsungGalaxyS23-1xDesktop.png 1x, ./img/home/SamsungGalaxyS23-2xDesktop.png 2x"
					media="(min-width: 1200px)" class="samsung-img" />

				<source srcset="./img/home/SamsungGalaxyS23-1x.png 1x,
				./img/home/SamsungGalaxyS23-2x.png 2x" media="(min-width: 320px)" class="samsung-img" />

				<img src="./img/home/SamsungGalaxyS23-1xDesktop.png" alt="my photo" width="327" height="665"
					class="samsung-img">
			</picture>
		</div>
		<div class="frame-wrap">
			<div class="garden-text">
				<div class="home-garden-wrap">
					<h2 class="home-title">Garden Mania Story</h2>
					<p class="home-text">Grow, Harvest, and Win in the Ultimate Garden Adventure!</p>
				</div>
				<a class="home-button"
					href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.gardenmaniastory&hl=en-US"
					target="_blank">
					<!-- <button type="button" class="home-button"> -->
					<img class="home-img" width="204" height="60" src="./img/svg/Badge.svg" alt="Description of SVG image" />

					<!-- </button> -->
				</a>
			</div>
		</div>
	</div>
</section>