<section class="container home-block">
	<div class="home-wrap">
		<div class="home-img-wrap">
			<img class="home-img" src="../img/home/SamsungGalaxyS23-1x.png" alt="Garden-Mania-Story-photo">
		</div>
		<div class="frame-wrap">
			<div class="garden-text">
				<div class="home-garden-wrap">
					<h2>Garden Mania Story</h2>
					<p>Grow, Harvest, and Win in the Ultimate Garden Adventure!</p>
				</div>
				<a href="https://play.google.com/store/apps/details?id=com.ezjoynetwork.gardenmaniastory&hl=en-US"
					target="_blank">
					<button>
						<!-- <svg width="204" height="60">
							<use href="../img/svg/symbol-defs.svg#icon-Badge"></use>
						</svg> -->
						<img src="../img/home/Badge-1x.png" alt="Link to donwload">
					</button>
				</a>
			</div>
		</div>
	</div>
</section>