<section class="user-reviews-section" id="user-reviews">
	<div class="container user-reviews-container">
		<div class="user-reviews-box"><p class="user-reviews-numbers">04</p>
		<h2 class="user-reviews-title">User reviews</h2>
		</div>
		<ul class="user-reviews-list">
			<li class="user-reviews-item">
				<picture>
					<source
						srcset="./img/user-reviews/green-trumb-player.png 1x, ./img/user-reviews/green-trumb-player_2x.png 2x"
						media="(min-width: 1200px)">
					<source
						srcset="./img/user-reviews/mob-green-trumb-player.png 1x, ./img/user-reviews/mob-green-trumb-player@2x.png 2x"
						media="(max-width: 1199px)">
					<img class="user-reviews-img" src="./img/user-reviews/green-trumb-player.png"
						alt="GreenThumbPlayer">
				</picture>
				<p class="user-reviews-name">GreenThumbPlayer</p>
				<p class="user-reviews-comment">"I love growing my garden while solving puzzles. The graphics are
					adorable!"</p>
			</li>
			<li class="user-reviews-item">
				<picture>
					<source srcset="./img/user-reviews/matchqueen.png 1x, ./img/user-reviews/matchqueen_2x.png 2x"
						media="(min-width: 1200px)">
					<source
						srcset="./img/user-reviews/mob-matchqueen.png 1x, ./img/user-reviews/mob-matchqueen@2x.png 2x"
						media="(max-width: 1199px)">
					<img class="user-reviews-img" src="./img/user-reviews/matchqueen.png" alt="MatchQueen">
				</picture>
				<p class="user-reviews-name">MatchQueen</p>
				<p class="user-reviews-comment">"The puzzles are fun, and the gardening theme makes it even better!"</p>

			</li>
			<li class="user-reviews-item">
				<picture>
					<source
						srcset="./img/user-reviews/harvest-hero.png 1x, ./img/user-reviews/harvest-hero_2x.png 2x"
						media="(min-width: 1200px)">
					<source
						srcset="./img/user-reviews/mob-harvest-hero.png 1x, ./img/user-reviews/mob-harvest-hero@2x.png 2x"
						media="(max-width: 1199px)">
					<img class="user-reviews-img" src="./img/user-reviews/harvest-hero.png" alt="HarvestHero">
				</picture>
				<p class="user-reviews-name">HarvestHero</p>
				<p class="user-reviews-comment">"The seasonal events are fantastic, and I love the new challenges."</p>
			</li>
			<li class="user-reviews-item">
				<picture>
					<source srcset="./img/user-reviews/puzzle-farmer.png 1x, ./img/user-reviews/puzzle-farmer_2x.png 2x"
						media="(min-width: 1200px)">
					<source
						srcset="./img/user-reviews/mob-puzzle-farmer.png 1x, ./img/user-reviews/mob-puzzle-farmer@2x.png 2x"
						media="(max-width: 1199px)">
					<img class="user-reviews-img" src="./img/user-reviews/puzzle-farmer.png" alt="PuzzleFarmer">
				</picture>
				<p class="user-reviews-name">PuzzleFarmer</p>
				<p class="user-reviews-comment">"This game is perfect for relaxing. I enjoy growing and harvesting crops."
				</p>
			</li>
			<li class="user-reviews-item">
				<picture>
					<source
						srcset="./img/user-reviews/garden-champion.png 1x, ./img/user-reviews/garden-champion_2x.png 2x"
						media="(min-width: 1200px)">
					<source
						srcset="./img/user-reviews/mob-garden-champion.png 1x, ./img/user-reviews/mob-garden-champion@2x.png 2x"
						media="(max-width: 1199px)">
					<img class="user-reviews-img" src="./img/user-reviews/garden-champion.png" alt="GardenChampion">
				</picture>
				<p class="user-reviews-name">GardenChampion</p>
				<p class="user-reviews-comment">"I’ve been playing for months, and it never gets boring. Highly	recommended!"</p>
			</li>
		</ul>
	</div>
</section>