.about-us-block {
  height: 637px;
  padding-bottom: 48px;
}

.about-us-number {
  width: 117px;
  height: 117px;
  margin-bottom: 2px;
}

.block-number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 96px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #909090;
}

.about-us-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: right;
  color: #0099fa;
  margin-bottom: 32px;
}

.about-us-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  height: 231px;
  margin-bottom: 16px;
}

.video {
  border-radius: 15px;
}
