.feature-keys-block {
  height: 519px;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}

.feature-numbers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 96px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #909090;
  margin-left: auto;
  margin-bottom: 2px;
  width: 97px;
  height: 117px;
  display: block;
  clear: both;
}

.feature-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #0099fa;
  margin-bottom: 32px;
}

.feature-gallery {
  margin-bottom: 16px;
  border-radius: 15px;
  width: 288px;
  height: 162px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
}

// .feature-text {
//   margin-bottom: 16px;
//   text-align: center;
// }
.brief-description {
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  text-align: center;
}

// .feature-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
//   gap: 8px;
//   margin-bottom: 48px;
// }

// .list-items {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 400;
//   font-size: 14px;
//   text-transform: uppercase;
//   color: #606060;
// }

/* Slider Container */
.slider-container {
  position: relative;
  overflow: hidden;
  //   width: 100%;
  width: 288px;
  margin: 0 auto;
}

/* Slider Wrapper */
.slider-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

/* Individual Slides */
.slide {
  min-width: 100%;
  box-sizing: border-box;
}

/* Image and Text Styling */
.slide img {
  width: 100%;
  height: auto;
}

.slide-text {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* Buttons Styling */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  //   cursor: pointer;
  visibility: hidden;
  pointer-events: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Pagination Styling */
.pagination-container {
  display: flex;
  justify-content: center;
  //   margin-bottom: 48px;
}

.pagination-number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #606060;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.pagination-number:hover {
  opacity: 1;
}

.pagination-number.active {
  font-weight: bold;
  color: #000;
  opacity: 1;
}

@media only screen and (min-width: 1200px) {
  .feature-keys-block {
    height: 619px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .feature-numbers {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 128px;
    text-transform: uppercase;
    color: #909090;
    position: absolute;
    top: 0;
    right: 80px;
    width: 129px;
    height: 156px;
  }

  .feature-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #0099fa;
    margin-top: 80px;
    margin-bottom: 64px;
    width: 588px;
    height: 59px;
  }

  .img-container {
    border-radius: 20px;
    width: 550px;
    height: 300px;
  }

  .feature-gallery {
    border-radius: 20px;
    width: 550px;
    height: 300px;
  }

  .slider-container {
    width: 940px;
    height: 341px;
  }

  .slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .slide-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
    width: 360px;
    height: 89px;
  }

  .slide-text {
    font-size: 24px;
  }

  .brief-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
  }

  .slider-wrapper {
    margin-bottom: 24px;
  }
  .pagination-container {
    width: 550px;
  }
}
