.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 12px;
  margin: 0 auto;
  color: #000;
}
.footer-container {
  background-color: #0099fa;
}
.footer-menu-list {
  padding-top: 16px;
  margin-bottom: 8px;
  text-align: center;
}
.footer-nav-link {
  text-align: center;
}
.footer-rights-box {
  padding-bottom: 16px;
}
.footer-rights {
  text-align: center;
}
