.gallery-numbers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 96px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #909090;
  margin-left: auto;
  margin-bottom: 2px;
  width: 115px;
  height: 117px;
  display: block;
  clear: both;
}
.gallery-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #0099fa;
  margin-bottom: 32px;
}

.gallery-title,
.gallery-numbers {
  order: 0;
}
.swiper {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}
.img-slider {
  display: flex;
  justify-content: center;
  width: 319px;
}

.img-slide {
  max-width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: block;
  color: #000;
  --swiper-navigation-size: 32px;
}

@media only screen and (min-width: 1200px) {
  .gallery-numbers {
    font-size: 128px;
    width: 154px;
    height: 156px;
	order: 2;
  }
  .gallery-title {
    font-size: 48px;
    margin-bottom: 0;
	order: 1;
  }
  .gallery-box{
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 64px;
  }
  .swiper {
    margin-bottom: 80px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none;
  }
}
