.gallery-numbers {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 96px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #909090;
	margin-left: auto;
	margin-bottom: 2px;
	width: 115px;
	height: 117px;
	display: block;
	clear: both;
 }
 .gallery-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #0099fa;
	margin-bottom: 32px;
 }
 .img-slider {
	display: flex;
	justify-content: center;
	// padding: 120px 45px;
 }
 .img-slide{
	max-width: 100%;
 }
 .swiper-button-prev:after, .swiper-button-next:after {
	color: #000;
	// font-size: 
 }
 
 
 @media only screen and (min-width: 1200px) {
	.gallery-numbers {
	  font-size: 128px;
	  width: 154px;
	  height: 156px;
	}
	.gallery-title {
	  font-size: 48px;
	  margin-bottom: 64px;
	}
 }