.home-block {
  //   height: 726px;
  height: 786px;
  display: flex;
  flex-direction: column;
}

.home-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.home-img-wrap {
  max-width: 205px;
  height: 416px;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 108px;
  margin-bottom: 40px;
}

.home-img {
  max-width: 100%;
}

.frame-wrap {
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 48px;
}

.garden-text {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  text-align: center;
}

.home-garden-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  color: #0099fa;
}

.home-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.home-button {
  background-color: transparent; /* Невидимый фон */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  display: flex; /* Используем flexbox для выравнивания */
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
  width: 204px; /* Задаем ширину кнопки под размер SVG */
  height: 60px; /* Задаем высоту кнопки под размер SVG */
  cursor: pointer; /* Добавляем курсор указателя при наведении */
}

.home-img {
  width: 100%;
  height: 100%;
  display: block; /* Убираем возможные отступы SVG */
  padding: 0;
  margin: 0;
}

.samsung-img {
  transition: transform 1s ease-in-out; /* Плавна анімація */
  perspective: 1000px;
}

.samsung-img:hover {
  transform: scale(1.2) rotateX(15deg) rotateY(15deg); /* Збільшення і обертання */
}

@media only screen and (min-width: 1200px) {
  .home-block {
    height: 843px;
    display: flex;
    flex-direction: row;
  }

  .home-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .home-img-wrap {
    margin-left: 100px;
    max-width: 327px;
    height: 665px;
  }

  .home-button {
    width: 250px;
    height: 74px;
  }

  .home-garden-wrap {
    gap: 24px;
  }

  .home-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    text-align: right;
    color: #0099fa;
  }

  .home-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    width: 521px;
    height: 68px;
  }

  .frame-wrap {
    width: 588px;
    height: 257px;
    margin: 0;
  }
}
