.container {
}
.privacy-box {
  padding-top: 24px;
}
.privacy-back-box {
  padding-bottom: 24px;
}
.privacy-back {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding-bottom: 24px;
}
.privacy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #0099fa;
  padding-bottom: 16px;
}
.privacy-second-title {
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 16px;
}
.privacy-text {
  padding-bottom: 16px;
}
.bold-text {
  font-weight: 500;
}
