section.privacy-box {
  padding-top: 24px;
  padding-bottom: 47px;
}

.privacy-back-box {
  margin-bottom: 24px;
}
.privacy-back {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.privacy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #0099fa;
  margin-bottom: 16px;
}
.privacy-second-title {
  font-weight: 600;
  padding-bottom: 16px;
  font-size: 14px;
}
.text-box {
  //   padding-bottom: 48px;
}
.privacy-text {
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}
.privacy-text-mod {
  margin: 0;
}

.bold-text {
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  section.privacy-box {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .privacy-back-box {
    margin-bottom: 16px;
  }
  .privacy-back {
    font-size: 18px;
  }
  .privacy-title {
    font-weight: 700;
    font-size: 48px;
    color: #0099fa;
    margin-bottom: 24px;
    width: 588px;
    height: 59px;
    line-height: 1.2;
  }
  .privacy-second-title {
    padding-bottom: 24px;
    font-size: 18px;
  }
  .text-box {
    //  padding-bottom: 32px;
  }
  .privacy-text {
    margin-bottom: 24px;
    font-size: 18px;
  }
}
