// @import './common/reset';
@import url('./header.scss');
@import url('./home.scss');
@import url('./feature-keys.scss');
@import url('./about-us.scss');
@import url('./gallery.scss');
@import url('./user-reviews.scss');
@import url('./footer.scss');
@import url('./privacy-policy.scss');
@import url('./terms-of-use.scss');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.container {
  max-width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 40px 0px 40px;
  }
}
