.user-reviews-numbers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 96px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #909090;
  margin-bottom: 2px;
  width: 126px;
  height: 117px;
  display: block;
  clear: both;
}
.user-reviews-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #0099fa;
  margin-bottom: 32px;
  text-align: right;
}

// .user-reviews-list {

// }
.user-reviews-item {
  border-radius: 15px;
  width: 288px;
  height: 140px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #0099fa;
  color: #fff;
  margin-bottom: 32px;
}
// .user-reviews-img {
// }
// .user-reviews-name {
// }
// .user-reviews-comment {
// }
